<!-- Footer -->
<footer class="site-footer site-section">
  <div class="container">
    <!-- Footer Links -->
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <h4 class="footer-heading">Contact Info</h4>
        <ul class="footer-nav list-inline">
          <li><a href="#">contact</a></li>
          <li><a href="mailto:admin@pitchhub.net?Subject=Hello" target="_top">admin@pitchhub.net</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h4 class="footer-heading">Legal</h4>
        <ul class="footer-nav list-inline">
          <!--TODO add terms-->
          <!--<li><a href="#">Terms</a></li>-->
          <li><a href="#">Privacy</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <!--TODO add social stuff-->
        <!--<h4 class="footer-heading">Follow Us</h4>-->
        <!--<ul class="footer-nav footer-nav-social list-inline">-->
        <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
        <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
        <!--</ul>-->
      </div>
      <div class="col-sm-6 col-md-3">
        <h4 class="footer-heading"><span id="year-copy">2014</span> &copy; PitchHub</h4>
        <ul class="footer-nav list-inline" style="color: #777;">
          <li>Crafted with <i class="fa fa-heart text-danger"></i></li>
        </ul>
      </div>
    </div>
    <!-- END Footer Links -->
  </div>
</footer>
<!-- END Footer -->