<header>
  <div class="container">
    <a href="#" class="site-logo">
      PITCHHUB
    </a>

    <nav>
      <a class="btn btn-default site-menu-toggle visible-xs visible-sm">
        <i class="fa fa-bars"></i>
      </a>

      <ul class="site-nav">
        <li class="visible-xs visible-sm">
          <a class="site-menu-toggle text-center">
            <i class="fa fa-times"></i>
          </a>
        </li>
        <li>
        <a href="#">Home</a>
        </li>
        <li>
        <a href="#">Join</a>
        </li>
        <li>
        <a href="#">Login</a>
        </li>
      </ul>
    </nav>
  </div>
</header>