<% accept_path = is_suggestion ? accept_pitch_card_suggestion_path(@pitch_card, discourse) : accept_pitch_card_comment_path(@pitch_card, discourse) %>
<%= form_for(discourse, :url=> accept_path, method: "post") do |f| %>
	<div class="row-same-height">
	  <div class="col-xs-12 col-xs-height no-side-padding col-middle">
		<div class="inside inside-trim-top">
					<span class="text-muted pull-right"  style="margin-top: -4.5px">
						<div class="btn-group btn-group-sm">
						  <%= f.button(value: "accept", type: 'submit', class: "btn discourse-action-btn") do %>
							  <i class="fa fa-check"></i>
						  <% end %>
						  <%= f.button(value: "reject", type: 'submit', class: "btn discourse-action-btn") do %>
							  <i class="fa fa-times"></i>
						  <% end %>
						</div>
					</span>
		  <% if is_suggestion %>
			  <p class="text-muted">Update Pitch Card with suggestion?</p>
		  <% else %>
			  <p class="text-muted">Was this comment helpful?</p>
		  <% end %>
		</div>
	  </div>
	</div>
<% end %>