<div class="col-md-10 col-md-offset-1">
  <div id="discourse-content" class="block block-bordered pitch-card-discourse row">

	<%= render partial: 'pitch_cards/partials/discourses/comment/pitch_point_comment', locals: { point: point, ic_scopes: ic_scopes, comment: comment } %>

  </div>
</div>