<div class="col-md-10 col-md-offset-1">
  <div id="discourse-content" class="block block-bordered pitch-card-discourse row">

	<% if suggestion.pending? and can? :manage, @pitch_card %>

		<%= form_for(suggestion, :url=>accept_pitch_card_suggestion_path(@pitch_card, suggestion), method: "post") do |f| %>

			<%= render partial: 'pitch_cards/partials/discourses/suggestion/pitch_point_suggestion', locals: { point: point, ic_scopes: ic_scopes, suggestion: suggestion, f: f } %>

		<% end %>
	<% else %>

		<%= render partial: 'pitch_cards/partials/discourses/suggestion/pitch_point_suggestion', locals: { point: point, ic_scopes: ic_scopes, suggestion: suggestion } %>

	<% end%>

  </div>
</div>