<!-- Main Sidebar -->
<div id="sidebar">
  <!-- Wrapper for scrolling functionality -->
  <div id="sidebar-scroll">
	<!-- Sidebar Content -->
	<div class="sidebar-content">
	  <!-- Brand -->
	  <a href="/" class="sidebar-brand">
		<i class="gi gi-flash"></i><span class="sidebar-nav-mini-hide">PitchHub</span>
	  </a>
	  <!-- END Brand -->

	  <!-- Sidebar Navigation -->
	  <ul class="sidebar-nav">
		<li>
		  <a href="#"><i class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
		</li>
		<li class="sidebar-header">
		  <span class="sidebar-header-title">Pitch Cards</span>
		</li>
		<li>
		  <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-shopping_cart sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Active</span></a>
		  <ul>
			<li>
			  <a href="#">Example 1</a>
			</li>
		  </ul>
		</li>
		<li>
		  <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-shopping_cart sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Completed</span></a>
		  <ul>
			<li>
			  <a href="#">Example 2</a>
			</li>
		  </ul>
		</li>
		<li class="sidebar-header">
		  <span class="sidebar-header-title">Settings</span>
		</li>
		<li>
		  <a href="#"><i class="gi gi-charts sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Groups</span></a>
		</li>
		<li>
		  <a href="#"><i class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">About</span></a>
		</li>
	  </ul>
	  <!-- END Sidebar Navigation -->

	</div>
	<!-- END Sidebar Content -->
  </div>
  <!-- END Wrapper for scrolling functionality -->
</div>
<!-- END Main Sidebar -->