<% discourse = local_assigns[:locals][:disc] %>
<% all_available_ic_scopes = scope_hashes %>
<% content_scope = discourse.content_scope.present? ? discourse.content_scope : nil %>
<% initiator_content_scope = discourse.initiator_content_scope.present? ? discourse.initiator_content_scope : nil %>
<% display_content_scope = initiator_content_scope.present? ? initiator_content_scope : content_scope %>

<% options = narrowed_options_for_select( all_available_ic_scopes, display_content_scope ) %>

<% url_path = discourse.class.name == "Suggestion" ? initiator_scope_pitch_card_suggestion_path(@pitch_card, discourse) : initiator_scope_pitch_card_comment_path(@pitch_card, discourse) %>

<%= form_for(discourse, :url=> url_path, id: "initiator-scope-form", method: "post") do |f| %>
	<div class="form-group">
	  <%= select_tag(:ic_scope, options.join(" ").html_safe, :class => 'select-scope') %>
	</div>
	<div class="form-group">
	  <%= f.submit "Update", class: "btn btn-primary btn-xs scope-submit" %>
	</div>
<% end %>
<div class="scope-loading hidden">
  <i class="fa fa-circle-o-notch scope-spin fa-lg fa-spin"></i>
  <i class="fa fa-check-circle-o scope-success fa-2x hidden"></i>
</div>