/*
 *  Document   : variables.scss
 *  Author     : pixelcave / michael winton
 *  Description: SASS variables for changing color theme and other options
 *
 */

/*
 * General
 *
 */

$background_color_body:         #fff;                       // The background color of the body (visible in boxed layout)
$max_width_boxed_layout:        1280px;                     // The maximun width of boxed layout (must be larger larger than 1200px)
$border_width_button:           0;                          // 0 or 1px

/*
 * Color Theme
 *
 */

/* Brand Colors */
$color_pitch_dark_primary:      #1976D2;
$color_pitch_primary:           #2196F3;
$color_pitch_light_primary:     #BBDEFB;
$color_pitch_text_icons:        #FFFFFF;
$color_pitch_accent:            #607D8B;
$color_pitch_primary_text:      #212121;
$color_pitch_secondary_text:    #727272;
$color_pitch_divider:           #B6B6B6;
$color_pitch_secondary: #aaaaaa;

/* Main Colors */
$color_dark:                    #2c3e50;//#394263;                    // Main dark color - Used mainly for sidebars' background and text color
$color_dark_bg:                 #36353A;
$color_highlight:               $color_pitch_dark_primary;
$color_backend_highlight:       #34495e;
$color_light_main:              #eaedf1;                    // Main light color - Used mainly for main content background
$color_light_secondary:         #dbe1e8;                    // Secondary light color - Used mainly for borders
$color_light_ultra:             #f9fafc;                    // Secondary ultra light color - Used mainly for light navbar and block's header background

/* Navbar Inverse Color */
$color_navbar_inverse:          #4c5471;                    // Dark navbar color

/* Default Button */
$color_btn_default:             $color_light_main;          // Default color
$color_btn_default_b:           $color_light_secondary;     // Default border color
$color_btn_default_bg:          #f1f3f6;                    // Default background color
$color_btn_default_bh:          #c2c8cf;                    // Hover border color
$color_btn_default_ac:          $color_light_main;          // Active background and border color

/* Primary Button */
$color_btn_primary:             $color_highlight;           // Default color
$color_btn_primary_bg:          #6ad2eb;                    // Default background color
$color_btn_primary_bh:          #1593b3;                    // Hover border color


/*
 * Various Options
 *
 */
$radius_blocks:                 0;                          // Roundness of blocks in pixels - eg: 5px

$width_sidebar:                 200px;                      // Width of both sidebars - Suggested values between 180px and 220px
$width_sidebar_partial:         65px;                       // Width of both sidebars when partial - Suggested values between 30px and 100px