<li class="media">
<div class="media-body">
  <a href="page_ready_user_profile.html"><strong>User</strong></a>
  <span class="text-muted"><small><em>29 min ago</em></small></span>
  <p>Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum.</p>
</div>
</li>