<% content_for :custom_head do %>
    <!-- page specific head attributes -->
<% end %>

<% content_for :custom_body do %>
    <!-- page specific body attributes -->
    <%= javascript_include_tag 'frontend/frontend_application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'frontend/pages/home', 'data-turbolinks-track' => true %>
<% end %>

<div>
  <div class="carousel-inner">
    <div class="active item">
      <section class="site-section site-section-light site-section-top themed-img-default">
        <div class="container">

          <h1 class="text-center animation-slideUp hidden-xs">for ideas...</h1>
          <h2 class="text-center push hidden-xs">
            <strong>
                                <span id="hero-text" class="tagline">
                                    <span id="hero-word-switcher" class="in">
                                        <span class="active" data-oid="0"> communicate</span>
                                        <span data-oid="1"> share</span>
                                        <span data-oid="2"> engage</span>
                                    </span>
                                </span>
            </strong>
          </h2>

          <!--<p class="text-center">-->
            <!--<img class="img-responsive img-center" src="img/home-extended.png" alt="Beer app's home screen">-->
          <!--</p>-->
        </div>
      </section>
    </div>
  </div>
</div>



<!--<section class="site-content site-section">-->
  <!--<div class="container">-->
    <!--<div class="site-block text-center">-->
      <!--<h2>Super sweet apps from <strong>only $20/mo</strong></h2>-->
      <!--<a class="text-medium" href="{{ URL::route('frontend.howitworks') }}">Tell me more</a>-->
    <!--</div>-->
    <!--<hr>-->
  <!--</div>-->
<!--</section>-->


