// Place all the styles related to the Suggestion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.placard {
  display: inline-block;
  position: relative;
  width: 97%;

  &[data-ellipsis="true"] {
    &.showing {
      input.placard-field {
        overflow: visible;
        text-overflow: clip;
        white-space: normal;
      }
    }

    input.placard-field {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &::-ms-clear {
        display:none;
      }
    }

    textarea.placard-field {
      &[readonly] {
        overflow: hidden;
      }
    }
  }

  &.showing {
    .placard-footer,
    .placard-header,
    .placard-popup {
      display: block;
      z-index: 1;
    }

    input.placard-field, textarea.placard-field {
      background: #fff;
      border: 1px solid #CCCCCC;
      box-shadow: none;
      position: relative;
      z-index: 1;
    }

    width: 97%;
  }

  input.placard-field, textarea.placard-field {
    resize: none;

    &[readonly] {
      background: #fff;
      cursor: auto;

      &.glass {
        background: none;

        &:hover {
          background: #d9edf7;
          cursor: pointer;
        }
      }
    }

    &:focus {
      border: 1px solid #CCCCCC;
      box-shadow: none;
    }
  }

  &-cancel {
    font-size: 12px;
    margin-right: 4px;
    vertical-align: middle;
  }

  &-footer,
  &-header {
    display: none;
    left: 0;
    line-height: 1;
    position: absolute;
    right: 0;
  }

  &-footer {
    padding: 4px 0 8px 0;
    text-align: right;
    top: 100%;
  }

  &-header {
    bottom: 100%;
    padding: 8px 0 4px 0;

    h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
  }

  &-popup {
    background: #d9edf7;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    bottom: -8px;
    box-shadow: 0 0 0 1px #fff inset;
    display: none;
    left: -8px;
    position: absolute;
    right: -8px;
    top: -8px;
  }

  .glass {
    background: transparent;
    border: 1px solid #fff;
    box-shadow: none;

    &:hover {
      background: #FCFAFD;
      border-color: #66afe9;
      cursor: pointer;

      &[disabled] {
        background: transparent;
        border-color: #fff;
        cursor: not-allowed;
      }
    }

    &:focus {
      background: #fff;
      border-color: #66afe9;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
      cursor: auto;

      &[disabled] {
        background: transparent;
        border-color: #fff;
        cursor: not-allowed;
      }
    }

    &[disabled] {
      cursor: not-allowed;
    }
  }
}

.heading{
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  color: $color_pitch_secondary_text;
}

#discourses-empty{
  visibility: hidden;
}

#discourses-content{
  visibility: hidden;
}

.pitch-card-discourse{
  border: 5px solid $color_light_secondary;
  border-radius: 5px;
  //min-width: 325px;
}

.pitch-card-status-label .pulsating {
  animation: pulse1 1s ease-in-out infinite;
  animation-direction: alternate ;
  -webkit-animation: pulse1 1s ease-in-out infinite;
  -webkit-animation-direction: alternate ;
}

.pitch-card-status-label {
  border-color: #2980B9;
  border-width: 2px;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

@keyframes pulse1 {
  0% { border-color: rgba(41, 128, 185, .75); }
  50% { border-color: rgba(41, 128, 185, 0.25); }
  100% { border-color: rgba(41, 128, 185, .75); }
}

@-moz-keyframes pulse1 {
  0% { border-color: rgba(41, 128, 185, .75); }
  50% { border-color: rgba(41, 128, 185, 0.25); }
  100% { border-color: rgba(41, 128, 185, .75); }
}

@-webkit-keyframes pulse1 {
  0% { border-color: rgba(41, 128, 185, .75); }
  50% { border-color: rgba(41, 128, 185, 0.25); }
  100% { border-color: rgba(41, 128, 185, .75); }
}

@-ms-keyframes pulse1 {
  0% { border-color: rgba(41, 128, 185, .75); }
  50% { border-color: rgba(41, 128, 185, 0.25); }
  100% { border-color: rgba(41, 128, 185, .75); }
}

.btn-initator-scope-override{
  color: $color_pitch_secondary_text;
}

.scope-loading{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0px;
  padding-top: 55px;
  margin-left: -10px;
}

.scope-success{
  color: #2ecc71;
}

.scope-hidden{
  opacity: 0;
}

.inside-short{
  margin-top: 5px;
}

.discourse-scope-button{
  width: 32px;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
  color: #607D8B;
}

.selected-scope{
  color: $color_pitch_secondary_text;
  padding-right: 10px;
}

.discourse-action-btn{
  border-color: #DBE1E8;
  background-color: #FFF;
  color: $color_pitch_primary;
}
.discourse-action-btn:hover,
.discourse-action-btn:focus,{
  border-color: #DBE1E8;
  background-color: #EAEDF1;
  color: $color_pitch_primary;
}

.inside-trim-top{
  margin-top: 10px;
}