@mixin form-pitch-point-placeholder-overwrite{
  text-transform: uppercase;
  text-align: center;
  font-weight: bolder;
  font-size: large;
  color: $color_pitch_secondary_text;
}

.requires-pitch-point{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 10px;
}

.delete-photo{
  display: none;
  position: absolute;
  left: 16px;
  bottom: 0;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  width: 100%;
  display: block;
  position: relative;
}
.wrapper:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.photo-preview {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-style: solid;
  border-width: 2px;
  border-color: $color_light_secondary;
  background-color: $color_light_ultra;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
}

#preview{
  border-style: dashed !important;
  cursor: pointer;
}

#photo-upload{
  width: 100%;
  height: 100%;
}

#upload-click{
  padding-top: 20%;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: bolder;
  font-size: large;
  color: $color_pitch_secondary;
  cursor: pointer;
}

#uploadPitchCardImage{
  display: none;
}

textarea.form-pitch-point:-ms-input-placeholder { @include form-pitch-point-placeholder-overwrite }
textarea.form-pitch-point::-moz-placeholder { /* Firefox 19+ */ @include form-pitch-point-placeholder-overwrite }
textarea.form-pitch-point:-moz-placeholder { /* older Firefox*/ @include form-pitch-point-placeholder-overwrite }
textarea.form-pitch-point::-webkit-input-placeholder { @include form-pitch-point-placeholder-overwrite  }

.pitch-point-image{
  width: 100%;
  max-width: 50px;
  min-width: 40px;
  height: auto;
}

textarea[disabled].form-pitch-point{
  opacity: 0.6;
}

.pitch-point-image-selectable {
  cursor: pointer;
}

.form-pitch-point{
  padding: 5px;
  resize: none;
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  background-color: $color_light_ultra;
  font-size: large;
}

.pitch-card{
  border: 5px solid $color_light_secondary;
  border-radius: 5px;
  min-width: 325px;
}

.pitch-card-actions{
  min-width: 325px;
}

.select-scope{
  min-width: 50px;
  width: 100%;
}