EMAIL_USERNAME_DEVELOPMENT: ''
EMAIL_PASSWORD_DEVELOPMENT: ''
SECRET_KEY_BASE_DEVELOPMENT: ''

EMAIL_USERNAME_TEST: ''
EMAIL_PASSWORD_TEST: ''
SECRET_KEY_BASE_TEST: ''

EMAIL_USERNAME_PRODUCTION: ''
EMAIL_PASSWORD_PRODUCTION: ''
SECRET_KEY_BASE_PRODUCTION: ''

DOMAIN_NAME_LOCAL: 'localhost:3000'
DOMAIN_NAME: 'pitchhub.net'