<% content_for :content do %>

    <div id="page-top" class="page-container">

      <%= render :partial => '/shared/frontend/header' %>

      <%= yield %>

    </div>

    <%= render :partial => '/shared/frontend/footer' %>

    <a href="#" id="to-top"><i class="fa fa-angle-up"></i></a>

<% end %>
<%= render template: 'layouts/application' %>