.text-primary,
.text-primary:hover,
a,
a:hover,
a:focus,
a.text-primary,
a.text-primary:hover,
a.text-primary:focus {
  color: inherit;
}

a.sidebar-brand:hover,
a.sidebar-brand:focus,
a.sidebar-title:hover,
a.sidebar-title:focus {
  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  text-decoration: none;
}

.nav.navbar-nav-custom > li.open > a,
.nav.navbar-nav-custom > li > a:hover,
.nav.navbar-nav-custom > li > a:focus {
  background-color: #ffffff;//$color_dark;
  color: inherit;
}

.nav.navbar-nav-custom > li > a:hover {
  color: inherit;
}

body #auth-background{
  background-color: $color_light_main;
  position:absolute;
  top:0; right:0;
  bottom:0; left:0;
  z-index: -1;
}

#login-container > .block-bordered{
  border: thin;
}

.btn-primary{
  background-color: $color_pitch_primary;
}

.btn-primary:hover{
  background-color: $color_pitch_dark_primary;
}

.select-chosen{
  width: 80%;
  display: block;
}

textarea.form-control{
  height: 63px;
}

.preloader{
  display: block;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  z-index: 99999;
}

.preloader .inner {
  position: relative;
  top: 20%;
  left: 50%;
  margin: 0 0 0 -50px;
  width: 100px;
  height: 100px;
  text-align: center;
}

.preloader-spinner {
  width: 24px;
  height: 24px;
  border: 3px solid transparent;
  border-left-color: #ffffff;
  border-right-color: #ffffff;
  border-top-color: #ffffff;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner .4s linear infinite;
  -moz-animation: nprogress-spinner .4s linear infinite;
  -ms-animation: nprogress-spinner .4s linear infinite;
  -o-animation: nprogress-spinner .4s linear infinite;
  animation: nprogress-spinner .4s linear infinite;
}

.preloader-spinner {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-width: 3px;
}

.push-bottom{
  margin-bottom: 40px;
}

.media-comment {
  margin-top: 0px !important;
}

.no-right-padding{
  padding-right: 0px !important;
}

.popover{
  max-width: 260px;
}