#hero-word-switcher {
  position:relative;
  display:inline-block;
  vertical-align:top;
  -webkit-transition:width 1000ms cubic-bezier(0.215,0.61,0.355,1);
  -moz-transition:width 1000ms cubic-bezier(0.215,0.61,0.355,1);
  transition:width 1.0s cubic-bezier(0.215,0.61,0.355,1);
  white-space:nowrap;
}

#hero-word-switcher.in span {
  -webkit-transform-origin:center 35px;
  -moz-transform-origin:center 35px;
  transform-origin:center 35px;
  transform: rotateX(180deg);
  opacity: 0;
}

#hero-word-switcher.in span.inactive {
  -webkit-animation:leave-word 600ms;
  -moz-animation:leave-word 600ms;
  transform: rotateX(180deg);
  animation:leave-word 0.6s;
}

#hero-word-switcher.in span.active {
  opacity: 1;
  transform: rotateX(0deg);
  -webkit-animation:enter-word 1000ms;
  -moz-animation:enter-word 1000ms;
  animation: enter-word 1.0s;
}

#hero-word-switcher span {
  position:absolute;
  left:0;
}

@-webkit-keyframes enter-word {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}
@-moz-keyframes enter-word {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}
@-o-keyframes enter-word {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}
@keyframes enter-word {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}


@-webkit-keyframes leave-word {
  0% {
    transform: rotateX(0deg);
    opacity: 0.4;
  }
  35% {
    transform: rotateX(-80deg);
    opacity: 0.2;
  }
  65% {
    transform: rotateX(-20deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}
@-moz-keyframes leave-word {
  0% {
    transform: rotateX(0deg);
    opacity: 0.4;
  }
  35% {
    transform: rotateX(-80deg);
    opacity: 0.2;
  }
  65% {
    transform: rotateX(-20deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}
@-o-keyframes leave-word {
  0% {
    transform: rotateX(0deg);
    opacity: 0.4;
  }
  35% {
    transform: rotateX(-80deg);
    opacity: 0.2;
  }
  65% {
    transform: rotateX(-20deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}
@keyframes leave-word {
  0% {
    transform: rotateX(0deg);
    opacity: 0.4;
  }
  35% {
    transform: rotateX(-80deg);
    opacity: 0.2;
  }
  65% {
    transform: rotateX(-20deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}