<% content_for :custom_head do %>
	<!-- page specific head attributes -->
	<%= stylesheet_link_tag 'backend', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :content do %>

	<div id="auth-background"></div>

    <div id="page-top" class="page-container">

	  <div class="row">

		<div>

		  <%= yield %>

		</div>
	  </div>
    </div>

<% end %>
<%= render template: 'layouts/application' %>