<div>
  <h2 class="heading push-bottom text-center">Comments & Suggestions</h2>

  <div id="discourses-loader" class="preloader themed-background">
	<div class="inner">
	  <h3 class="visible-lt-ie9 visible-lt-ie10"><strong>Loading..</strong></h3>
	  <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
	</div>
  </div>

  <div id="discourses-empty" class="lead hidden">
	<h4 class="push-top-bottom text-center">Nothing here yet...</h4>
  </div>

  <div id="discourses-content" class="hidden">


  </div>

</div>