
<% @discourses.each  do |discourse|

  point = PitchPointsHelper.pitch_points_hash.select { |point|
	discourse.pitch_point_name == point[:name]
  }

  point = point.any? ? point.first : nil

  # Get the initiator content scopes
  ic_scopes = scopes(current_user, :except => ["initiator"])

  # the pitch point must be specified in our pitch_point_hash
  if point == nil
	# TODO better error
	raise Error
  end

%>
	<div class="col-lg-12 no-side-padding">
	  <div id="discourse-content" class="block block-bordered pitch-card-discourse row">
			<%= render partial: 'pitch_cards/partials/discourses/message/pitch_point_message', locals: { point: point, discourse: discourse, ic_scopes: ic_scopes } %>
	  </div>
	</div>

<% end %>

<% if @discourses.any? %>
	<!--paginate @discourses, :remote => true-->
<% end %>