<html>
  <body>
    <%= yield %>
    <p>
     Cheers,
    </p>
    <p>
      <span class="hidden-xs">PitchHub</span>
        <img src="pitchhub57.png" />
      <span class="caret"></span>
    </p>
  </body>
</html>
